*{
    padding: none;
    margin: none;
    box-sizing: border-box;
 scroll-behavior: smooth;
}
body{
    background: url(bg.jpg) no-repeat;
}
#loading{
    background:white url(ok.gif) no-repeat center;
    width: 100%;
    height:100vh;
   z-index: 999;
}
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
/* Nav Bar */
.nav{
    background-color: rgb(0, 0, 0);
   border-radius: 18px;
overflow: hidden;

}
a{
    color: white;
    padding: 15px;
font-size: 30px;
text-decoration: none;
    float: right;
}
a:hover{
    text-decoration: underline;
text-decoration-color:blue;
color: red;

}
.span{
    color:#fff;
     font-size: 28px;
     float: left;
  cursor: pointer;
}
/* Content */
.photo{
    float: right;
}
.left{
    background: url(whitebg.jpg) no-repeat;
    padding-left: 234;
    float: left;
 
    margin-top: none;
}
.leftcnt{
color: green;
font-size: 23px;
font-family:'Pushster';
}
.left2{
    background: url(blackbg.jpg)no-repeat;
    margin-top: 230px;
    margin-right: 700px;
}
.photo2{
    float: right;
    margin-left: 248px;
    margin-top: 34px;
}
                                            /* About */
.fullabout{
    background: url(aboutbg.jpg);
    margin-top: 170px;
}
.span1{

    color:rgb(14, 236, 118);
    font-size: 50px;
    align-items: center;
    text-align: center;
}

.about{
    background: url(whitebg.jpg)no-repeat left;

}
.p3{
    margin-right: 23px;
}
                                                /* Contact */
.fullcontact{
    margin-top:8px;
    background:url(contactbg.jpg) no-repeat;
}                                                
.span3{
    align-items: center;
    display: flex;
    font-size: 50px;
    color:rgb(14, 236, 118);

}
.f1{
    width: 510px;
}
.i1,.i2,.i3,.i4{
    width: 324px;
   padding-top: 20px;

   padding-bottom: 20px;
   border-radius: 8px;
   border: none;
}
label{
    color: rgb(44, 148, 44);
    font-size: 23px;
}
textare{
    max-width: 280px;
}
.submit{
    border-radius: 23px;
width: 210px;
padding-top: 13px;
padding-bottom: 13px;
font-size: 20px;
color: white;
background: rgb(79, 59, 255);
}
.submit:hover{
    background-color: black;
}
p{
    font-size: 20px;
}
                                                /* Footer */
.footer{
    background: black;
}
footer{
    color: white;
    align-items: center;
     text-align: center;
}
h1{
    margin-top: 9px;
}
.footer2{
    font-size:20px
}